/*------------------Background------------------*/
body {
  
  background-image: url("https://preview.redd.it/heres-all-the-in-game-backgrounds-for-all-your-background-v0-1unsnh4fggea1.png?width=1423&format=png&auto=webp&s=e57cfe7042b355c624bbb892a1ec700a1ca222c6");
  background-repeat: no-repeat;
   background-size: cover;
  align-items: center;  
  justify-content: center;
  display:grid;
  
}
 /*------------------Title------------------*/
.outer-Title{
   background-color:#959aa3;
  width: 900px;
  border: 10px double #1f1f1f;
  padding: 10px;
  height: 150px;
  margin:100px;
  justify-content:center;
  text-align:center;
   border-radius: 20px;
  position:relative;
}
.outer-Title::before {
  content: "";
  background-color: transparent;
  width: 100%; 
  height: 100%; 
  margin:-10px;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px dotted #1f1f1f;
  border-radius: 20px;
}

h1{
  color:#c7c9d1;
  text-align:center;
  font-size:110px;
  font-family:'Jacquard 12';
  padding-top: 20px;
  margin:-0px;
 }

.SillyCat{
  margin-top:-700px;
  margin-right:480px;
  margin-left:auto;
  width:auto;
  height:70px;
}
/*---------------sub container h2--------------*/
/*font*/
.BA,.BG,.W{
  color:#c7c9d1;
  text-align:center;
  font-size:50px;
  padding-top: px;
  margin:0px;
  font-family:'Jersey 15';

 }
/*Artist container*/
.Artist {
    background-size: cover;
   width: 260px; 
   height: 90px;
    display: flex;
    justify-content: flex-end;
    background-color:#90959e ;
    align-items:center;
  margin: -50px;
  margin-left:auto;
  margin-right:100px;
   border-radius: 20px;
  border:9px double #1f1f1f;
}

/*Guitarist container*/
.Guitar {
    background-size: cover;
   width: 260px; 
   height: 90px;
    display: flex;
    justify-content: flex-end;
    background-color: #90959e ;
    align-items:center;
  margin: 100px;
  margin-left:auto;
  margin-right:100px;
   border-radius: 20px;
   border:9px double #1f1f1f;
}
/*Writer container*/
.Writer {
    background-size: cover;
    width: 260px; 
   height: 90px;
    display: flex;
    justify-content: center;
    background-color: #90959e ;
    align-items:center;
  margin: -50px;
  margin-left:auto;
  margin-right:100px;
   border-radius: 20px;
   border:9px double #1f1f1f;
}

/*Note: The 3 containers have been done seperately unlike their text due to margin.I could combine them and write the margin seperately but I spare my time*/ 

/*----------------Intro Bio---------------------*/

.Intro-box {
  width:500px;
  height:200px;
  background-color:#9a9ba1;
  justify-content:center;
  margin-left:220px;
  margin-right:auto;
  border-radius:20px;
  display:flex;
  margin-top: -542px;
}
.Bio {
  
   
}

/*Banner*/

.Banner {
  border-radius:20px;
  height:200px;
  width:500px;
  margin-top:-110px;
  margin-left:220px;
}
