/*------------------Background------------------*/
body {
  
  background-image: url("https://i.ibb.co/xh1Y1tp/Bild-2024-12-22-143053285.png");
  background-repeat: no-repeat;
   background-size: cover;
  align-items: center;  
  justify-content: center;
  display:grid;
  
}
 /*------------------Title------------------*/
.outer-Title{
   background-color:#b3bfd2;
  width:650px;
  border: 10px double #1f1f1f;
  padding: 10px;
  height:60px;
  justify-content:center;
  text-align:center;
   border-radius: 20px;
  position:absolute;
  left:370px;
}

.outer-Title::before {
  content: "";
  background-color: transparent;
  width: 100%; 
  height: 100%; 
  margin:-10px;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px dotted #1f1f1f;
  border-radius: 20px;
}

h1{
  color:#19191c;
  text-align:center;
  font-size:70px;
  font-family:'Jacquard 12';
  padding-top: 10px;
  position:absolute;
  top:-45px;
  left:50px;
 }

.SillyCat{
  margin-top:-720px;
  margin-right:400px;
  margin-left:auto;
  width:auto;
  height:70px;
}


/*---------------sub container h2--------------*/
/*font*/
.BA,.BG,.W{
  color:#19191c;
  text-align:center;
  font-size:38px;
  padding-top: px;
  margin:0px;
  font-family:'Jacquard 12';

 }
/*Artist container*/
.Artist {
    background-size: cover;
   width: 170px; 
   height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color:#adb9cc ;
    align-items:center;
   border-radius: 20px;
  border:9px double #1f1f1f;
 position:absolute;
  top:200px;
  left:850px;
}
/*Guitarist container*/
.Guitar {
    background-size: cover;
   width: 170px; 
   height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: #adb9cc ;
    align-items:center;
   border-radius: 20px;
   border:9px double #1f1f1f;
  position:absolute;
  top:330px;
  left:850px;
}
/*Writer container*/
.Writer {
    background-size: cover;
   width: 170px; 
   height: 60px;
    display: flex;
    justify-content: center;
    background-color: #adb9cc;
    align-items:center;
   border-radius: 20px;
   border:9px double #1f1f1f;
  position:absolute;
  top:450px;
  left:850px;
}

/*Note: The 3 containers have been done seperately unlike their text due to margin.I could combine them and write the margin seperately but I spare my time XD*/ 

/*----------------Intro Bio---------------------*/

.Intro-box {
  width:350px;
  height:140px;
  background-color:#bfc4d7;
  justify-content:center;
  border-radius:20px;
  display:flex;
  border:double 10px;
  position:absolute;
  top:199px;
  left:430px;
}
.Bio {
  font-family:'Jacquard 12';
  font-size:20px;
  color:#19191c;
  margin-top:-1px;
  
}

/*Banner*/

.Banner {
  border-radius:20px;
  height:180px;
  width:440px;
position:absolute;
  
}


/*--------------Other webs-----------*/

/*da linessssss*/
.hrline1{
  border: 1px solid #232329; 
  width:300px; 
  position:absolute;
  top:700px;
  left:540px;
}
.hrline2{
  border: 1px solid #232329; 
  width:300px; 
  position:absolute;
  top:750px;
  left:540px;
}

/*Youtube*/
.Youtube{
  color: #232329;
  top:100px;
 position:absolute;
  top:720px;
  left:550px;
}

/*Instagram*/
.Instagram{
  color:#232329;
  top:100px;
 position:absolute;
  top:720px;
  left:605px;
}

/*Reddit*/
.Reddit{
  color: #232329;
  top:100px;
 position:absolute;
  top:720px;
  left:650px;
}

/*Steam*/
.Steam{
  color: #232329;
  top:100px;
 position:absolute;
  top:720px;
  left:700px;
}

/*Spotify*/
.Spotify{
  color: #232329;
  top:100px;
 position:absolute;
  top:720px;
  left:745px;
}

/*Toyhouse*/
.Toyhouse{
  color: #232329;
  top:100px;
 position:absolute;
  top:720px;
  left:790px;
}


/*----------------Main Box---------------------*/

.BackBoxGradient{
  height:110px;
  width:1920px;
  position:absolute;
  top:665px;
  right:0px;
   background-image:linear-gradient(transparent,#b4b8ca);
  z-index:-1;
}

.BackBox{
  height:2000px;
  width:1920px;
  background-color:#b4b8ca;
  position:absolute;
  top:774px;
  right:0px;
  
}


/*--------------FandomBox-------------*/
.FandomBox {
  width:700px;
  height:100px;
  background-color:#111111;
  position:absolute;
  top:830px; 
  left:350px;
  margin: 0 auto; 
  border:double #bec2cc 6px;
  border-radius:10px;
}

.FB-Word{
  font-family:"Jacquard 12";
  font-size:30px;
   position:absolute;
  top:800px;
  left:640px;
}

/*Arcane*/
.Arcane{
  position:absolute;
  top:822px;
  opacity:5;
transition:0.05s linear ;
  height:135px;
  width:auto;
  right:auto;
  left:360px;
}

.Arcane:hover{
  opacity:0.6;
transition:0.25s linear;
}

/*Rain World*/

.RainWorld{
  position:absolute;
  top:822px;
  opacity:5;
transition:0.05s linear ;
  height:135px;
  width:auto;
  right:auto;
  left:465px;
}

.RainWorld:hover{
  opacity:0.6;
transition:0.25s linear;
  }
  
/*Pokemon*/

.Pokemon{
  position:absolute;
  top:822px;
  opacity:5;
transition:0.05s linear ;
  height:135px;
  width:auto;
  right:auto;
  left:542px;
}

.Pokemon:hover{
  opacity:0.6;
transition:0.25s linear;
}

/*Warrior Cats*/

.WarriorCats{
  position:absolute;
  top:840px;
  opacity:5;
transition:0.05s linear ;
  height:90px;
  width:auto;
  right:auto;
  left:640px;
}

.WarriorCats:hover{
  opacity:0.6;
transition:0.25s linear;
}

/*Ultrakill*/

.Ultrakill{
  position:absolute;
  top:826px;
  opacity:5;
transition:0.05s linear ;
  height:120px;
  width:auto;
  right:auto;
  left:720px;
}

.Ultrakill:hover{
  opacity:0.6;
transition:0.25s linear;
}

/*Dandys World*/

.DandysWorld{
  position:absolute;
  top:835px;
  opacity:5;
transition:0.05s linear ;
  height:100px;
  width:auto;
  right:auto;
  left:830px;
}

.DandysWorld:hover{
  opacity:0.6;
transition:0.25s linear;
}


/*Wings of fire*/

.WingsOfFire{
  position:absolute;
  top:835px;
  opacity:5;
transition:0.05s linear ;
  height:100px;
  width:auto;
  right:auto;
  left:940px;
}

.WingsOfFire:hover{
  opacity:0.6;
transition:0.25s linear;
}

/*----------Music Artist box---------*/

.MusicArtistBox {
  width:500px;
  height:100px;
  background-color:#111111;
  position:absolute;
  top:970px; 
  left:440px;
  margin: 0 auto; 
  border:double #bec2cc 6px;
  border-radius:10px;
}

.MAB-Word{
  font-family:"Jacquard 12";
  font-size:30px;
   position:absolute;
  top:945px;
  left:550px;
}

/*Subvison*/

.Subvision{
  position:absolute;
  top:970px;
  opacity:5;
transition:0.05s linear ;
  height:120px;
  width:130px;
  right:auto;
  left:460px;
}

.Subvision:hover{
  opacity:0.6;
transition:0.25s linear;
}


/*Castle Rat*/

.CastleRat{
  position:absolute;
  top:980px;
  opacity:5;
transition:0.05s linear ;
  height:90px;
  width:auto;
  right:auto;
  left:620px;
}

.CastleRat:hover{
  opacity:0.6;
transition:0.25s linear;
}

/*Ghost*/

.Ghost{
  position:absolute;
  top:980px;
  opacity:5;
transition:0.05s linear ;
  height:90px;
  width:auto;
  right:auto;
  left:800px;
}

.Ghost:hover{
  opacity:0.6;
transition:0.25s linear;
}


/*---------so the boxes begin (more pain)-------*/


/*------------OCS----------*/

.Trenner{
  border: 1px solid #232329; 
  width:900px; 
  position:absolute;
  top:1090px;
  left:50%;
  transform: translateX(-50%);
}

.TrennerMini{
  border: 1px solid #232329; 
  width:700px; 
  position:absolute;
  top:1110px;
  left:50%;
  transform: translateX(-50%);
}

/*----Shaded'soul----*/

.SSBOX{
  width:300px;
  height:350px;
  position:absolute;
  top:1200px;
  background-color:#1f1f2b;
  left:5%;
}


.SSROHMBUS{
  width:100px;
  height:100px;
  transform:rotate(45deg);
  background-color:white;
  position:absolute;
  top:1300px;
}
